
   <script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll(".read-toggle").forEach(btn => {
            btn.addEventListener("click", function (e) {
                e.preventDefault();

                const card = this.closest(".card");
                const desc = card.querySelector(".blog-desc");

                const fullText = desc.dataset.full;
                const shortText = desc.dataset.short;

                const isExpanded = card.classList.contains("expanded");
                document.querySelectorAll(".card.expanded").forEach(c => {
                    if (c !== card) {
                        const d = c.querySelector(".blog-desc");
                        const b = c.querySelector(".read-toggle");

                        d.textContent = d.dataset.short;
                        b.textContent = "Read More";
                        c.classList.remove("expanded");
                    }
                });
                if (!isExpanded) {
                    desc.textContent = fullText;
                    this.textContent = "Read Less";
                    card.classList.add("expanded");
                } else {
                    desc.textContent = shortText;
                    this.textContent = "Read More";
                    card.classList.remove("expanded");
                }
            });
        });
    });
</script>

</body>

</html>