@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    list-style: none;
    font-family: "Nunito", sans-serif;
}

body {
  background: #f4f7ff;
}
.logo-wrapper {
  display: flex;
  justify-content: start;
  align-items: start;
}

.login-logo {
  max-width: 160px;
}

.login-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: #fff;
  width: 500px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.08);
}

.logo-icon {
  width: 36px;
  height: 36px;
  background: linear-gradient(135deg, #6c63ff, #8f8bff);
  border-radius: 50%;
  position: relative;
}

.logo-icon::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 50%;
  top: 9px;
  left: 9px;
}

.custom-input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
}

.custom-input:focus {
  box-shadow: none;
  border-color: #6c63ff;
}

.login-btn {
  background: #4b49ac;
  border: none;
  height: 50px;
  border-radius: 25px;
  font-weight: 600;
}

.login-btn:hover {
  background: #3f3da1;
}


.create-link {
  color: #4b49ac;
  font-weight: 600;
  text-decoration: none;
}
